body{
    background-color: burlywood;
}
button,select{
    cursor: pointer;
}
.carte{
    height: 130px;
    width: 130px;
    size: auto;
    cursor: pointer;
}
img{
    height: 125px;
    width: 120px;
}